/* Styles globaux */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ebe8e6;
  padding-top: 90px;
}

/* Navbar et logo */
.logo {
  width: 60px;
  height: 60px;
  padding-left: 10px;
}

.navbar {
  background-color: #1d1c1c;
}

.navbar-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navbar-title .navbar-logo {
  width: 300px;
  height: 60px;
}

.nav-link {
  color: #e0e0e0;
}

.nav-link:hover {
  color: #b40a0a;
}

.btn-primary {
  background-color: #3465a5;
  border-color: #3465a5;
  transition: all 0.3s ease;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.50);
}

.btn-primary:hover {
  background-color: #b40a0a;
  border-color: #b40a0a;
  transform: scale(1.05);
}

/* Page d'accueil */
.acceuil-container {
  background-image: linear-gradient(rgba(75, 75, 75, 0.63), rgba(104, 103, 103, 0.63)), url('./images/fond.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 20px;
  border-radius: 12px;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.60);
}

.acceuil-content {
  position: relative;
  z-index: 2;
  max-width: 1100px;
  margin: 0 auto;
}

.acceuil-title {
  font-size: 2.3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.acceuil-paragraph {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ddd9d9;
  margin-top: 70px;
  text-align: justify;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.black-text-with-white-border {
  color: rgb(255, 255, 255);
  text-shadow: 
    -1px -1px 0 #1d1c1cdc,  
     1px -1px 0 #1d1c1cdc,  
    -1px  1px 0 #1d1c1cdc,  
     1px  1px 0 #1d1c1cdc;
}

/* Page remorques */
.container {
  margin-top: 30px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container .btn-primary {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.card {
  max-width: 400px;
  margin-bottom: 50px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.50);
  transition: all 0.3s ease;
  height: 90%;
}

.card:hover {
  transform: scale(1.03);
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
  background-color: #a39f97;
}

.card-title {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.card-text {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 15px;
}

/* Page devis */
.form-quote {
  max-width: 1100px;
  margin: 0 auto 50px;
  background-color: #a39f97;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.90);
}

.form-quote h1 {
  color: #1b1b1b;
  font-weight: 800;
}

.form-quote .form-label {
  font-weight: 800;
  font-size: 1.4rem;
}

.form-quote .btn-primary {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 30px auto;
  box-shadow: none;
}

.form-quote .btn-primary:hover {
  transform: scale(1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .acceuil-title {
    font-size: 2rem;
  }

  .acceuil-paragraph {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .acceuil-container {
    padding: 30px 15px;
  }
}
